:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.paretnTableContainer {
  overflow-x: auto;
}

.tableBorder {
  border-collapse: collapse;
  width: 100%;
}
.tableHeader {
  border: 1px solid #cac7c7;
  padding: 5px;
  background-color: #c7a4a4;
}
.tableBox {
  border: 1px solid #ddd;
  padding: 8px;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
}

nav img {
  height: 50px;
  margin-right: auto;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.searchBar{
  padding: 10px;
  width: 300px;
}
